<div class="container">
  <h1>Team 5 is The Best of the Best...Kinda</h1>
  <p>Hello Hack Olympics!</p>

  <table>
    <% @data.each do |team_num, team_data| %>
    <tr>
      <td><%= team_num %></td>
      <td><%= team_data["name"] %></td>
      <td><%= team_data["points"] %></td>
    </tr>
    <% end %>
  </table>
</div>
